html {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #1f1f21;
    text-decoration: none;


}

body {

    margin: 0;
}



section {
    /* border: 1px solid red; */
    padding: 0px 80px;
    box-sizing: border-box;
    margin-bottom: 200px;
}
.caixaDoTitulo {
    -webkit-box-shadow: 40px 32px 61px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 40px 32px 61px 12px rgba(0,0,0,0.75);
    box-shadow: 40px 32px 61px 12px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    height: 100px;
    background-color: #c80f0fd0;
    border-radius: 5px;
}

/* -------------------------------------------------celula */

.celula {
    color: #1f1f21;
    border-radius: 5px;
    height: 379px;
    width: 273px;
    margin-right: 20px;
  
}
.tituloCard{
    background-color: none;
    margin: 0;
    text-align: center;
    margin-bottom: 5px;

}

.cel1 {
    box-sizing: border-box;
    overflow: hidden;
    height: 65%;
    width: 273px;
}

.imgCircular {
    border-radius: 10px 10px 0px 0px;
}

.cel2 {
    box-sizing: border-box;
    padding: 8px;
    background-color: #fff;
    width: 100%;
    height: 35%;
    border-radius: 0px 0px 10px 10px;
}
.containerCardInf{
    /* display: flex; */
}
.informacoes{
    text-align: center;
    margin: 0;
}



.celula:hover {
    scale: 1.1;
    transition: 250ms;
}



/* -------------------------------------------------celula */


/* ----------------------------------------------------- */
#logo {
    width: 100px;
    margin-left: 20px;
}

#paiNavLista {
    display: flex;
    align-items: center;
    padding-top: 0px;
    justify-content: space-between;
    background-color: rgba(181, 7, 20, 0.6);
    width: 100%;
    height: 60px;
}

#divLogo {

    align-items: center;
    display: flex;
    margin-left: 40px;
}

#divLogo:hover {
    scale: 1.1;
    transition: 700ms;
}

#divLogo img {
    height: 40px;
    margin-right: 10px;
}

#dropdown {
    display: flex;
    margin-right: 40px;
}

.navLista {
    padding: 17px 28px;
    border-radius: 40px;
}

.navLista:hover {
    background-color: rgba(177, 43, 52, 0.6);
}

.navLista>a {
    color: #fff;
    text-decoration: none;
}

/* --------------------primeira sec--------------------------------- */
#sec1 {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    height: 400px;
}

.imagemMeio1 {
    -webkit-box-shadow: 17px 21px 87px 40px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 17px 21px 87px 40px rgba(0, 0, 0, 0.51);
    box-shadow: 17px 21px 87px 40px rgba(0, 0, 0, 0.51);
    background-position: center;
    background-image: url(img/imgMeio/chorizo-entrecote-short-rib-carnes-nobres-para-preparar.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -320px;
    height: 400px;
}

.imagemMeio1>div>h1 {
    padding: 110px;
    color: #fff;
    font-size: 76px;
    font-weight: bolder;
    margin: 0;

}

/* -----------------sec2------------------- */

#sec4 {
    /* border: 1px solid red; */
    /* align-items: center; */
    box-sizing: border-box;


}

#flex {
    margin: 20px 0;

    display: flex;
    justify-content: center;
}

#flex>div {
    /* border: 1px solid red; */
    width: 900px;

}

#flex>div>div {
    margin-left: 21%;
    /* border: 1px solid red; */
    width: 500px;

}

#flex>p {
    text-align: start;
}

#sec2>h2 {
    font-size: 20px;
}

#sec2>p {
    width: 100px;
}

.tituloDoCarroussel {
    -webkit-box-shadow: 40px 32px 61px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 40px 32px 61px 12px rgba(0,0,0,0.75);
    box-shadow: 40px 32px 61px 12px rgba(0, 0, 0, 0.466);
    display: flex;
    justify-content: start      ;
    align-items: center;
    width: 273px;
    height: 50px;
    background-color: #c80f0fd0;
    border-radius: 5px;
    margin: 25px 0;
    padding-left: 10px;
    box-sizing: border-box;
    
}


/* ---------------verificar o que essa chamada acessa--------------------- */
#sec2>div:nth-child(1)>div:nth-child(2)>p {
    font-size: small;
    width: 300px;
    padding: 10px 20px;
}

/* ---------------verificar o que essa chamada acessa--------------------- */
.carrossel {

    /* border: 3px solid goldenrod; */
    justify-content: start;
    display: flex;
    overflow: hidden;
}

.control > svg {
    color: red;
    
}



.container {
    transition: 500ms;
    padding: 20px 0px;
    display: flex;



}


.divDaImagem {
    /* border: 1px solid greenyellow; */
    height: 330px;
    width: 249px;
}



.centralizar {
    height: 500px;
    -webkit-box-shadow: inset -7px -13px 107px 7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset -7px -13px 107px 7px rgba(0, 0, 0, 0.6);
    box-shadow: inset -7px -13px 107px 7px rgba(0, 0, 0, 0.6);

    background-color: #c80f0fd0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.centralizar>p {
    font-size: 20px;
    padding: 10px 283px;
}

#sec5 {
    height: 524px;
}

.localizacao>h2 {
    margin-bottom: 40px;
    font-size: 40px;
}


.flexivel {
    -webkit-box-shadow: 5px 15px 61px 46px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 15px 61px 46px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 15px 61px 46px rgba(0, 0, 0, 0.6);
    display: flex;
}
.flex{
    margin: 0px -30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
}




.contato>h3 {
    font-size: 40px;
}

.contatoLateral {
    -webkit-box-shadow: inset 14px -58px 110px 40px rgba(51, 0, 0, 0.46);
    -moz-box-shadow: inset 14px -58px 110px 40px rgba(51, 0, 0, 0.46);
    box-shadow: inset 14px -58px 110px 40px rgba(51, 0, 0, 0.46);

    width: 50%;
    background-color: #c80f0fd0;
}

.contato {
    padding: 0px 60px;
}

body>section:nth-child(7)>div>div>div.contatoLateral>div>div>img {

    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 15px;

}

.funcionamentoEtelefone {
    text-align: start;
    justify-content: space-between;
    display: flex;
}

.telefones {
    text-align: start;

}



/* footer */

footer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 200px;
    background-color: #343437;
    padding: 0px 40px;
}

.juntaDiv {
    justify-content: center;
    display: flex;
}

.linha {

    height: 120px;
    border: 1px solid rgba(255, 255, 255, 0.308);
}

#divLogo>h1 {
    margin-right: 30px;

}

.tresTextos {
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    width: 300px;
    display: flex;
}

.icones {

}

.fi {
    cursor: pointer;
    scale: 190%;

}

.fi:hover {
    scale: 240%;
}

.iconeDentro {
    display: flex;
    justify-content: space-between;

}
.iconeDentro > a > svg {
    padding: 0 3px;
    scale: 1.5;
} 
.iconeDentro > a > svg:hover {
    scale: 2.5;
} 
/* verificar onde o "a" afeta */
a {
    text-decoration: none;
}


#absolute {
    margin-top: 20px;
    left: 1805px;
    position: absolute;
    bottom: 200px;
    position: sticky;
    color: #fff;
    background-color: rgb(247, 171, 25);
    border-radius: 8px;
}

/* footer */

/* @media only screen and (min-width: 1400px) {


    .imagemMeio1{

        background-position-y: -600px;
    
    }
    .centralizar > p{
        font-size: 15px;
        padding: 10px 500px;
    }
} */

/* -----------------------------formulario------------------------------------ */
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;

}
.divFormularioInterna{
    box-sizing: border-box;
    padding: 30px;
    background-color: #c80f0fd0;
    height: 820px;
    width: 500px;
    margin: 100px;
}

.inputs {
    width: 99%;
    display: block;
    background-color: #fff;
    margin-bottom: 20px;
}
label {
    display: block;
    text-align: start;
    margin-bottom: 5px;
  }



.nomeSobrenome {
    display: flex;
}



/* -----------------------select-------------------------- */
#vazia{
    padding: 5px;
    position: relative;
}
td {
    width: 200px;
    height: 20px;
    border: 1px solid #fff;
}

#seta {
    top: 25%;
    right: 5px;
    position: absolute;
    color: #fff;
    transition: 500ms;
}

table {
    z-index: 1;
    position: absolute;
    background-color: #c80f0f;
    border-collapse: collapse;
}

.hide {
    display: none;
}

.viradoPraBaixo {
    transform: rotate(90deg);
    transition: 500ms;
}

.viraVira {
    transform: rotate(90deg);
    transition: 500ms;
}
.select{
    justify-content: center;
    display: flex;

}
.classeTeste{
    position: absolute;
    background-color: red;
}



/* ------------------------------textArea and button -----------------------*/
.textArea>textarea {
    height: 167px;
    width: 391px;
    margin-bottom: 20px;
}


.containerTextButton{
position: relative;
bottom: -60px;
}

/* ------------------------------textArea and button -----------------------*/


/* -----------------------select-------------------------- */
/* -----------------------------formulario------------------------------------ */

/* // -------------------------------radio button */

.checkList {
    list-style: none;
    text-align: left;
}

#caixa1 > spam{
    display: flex;
}
#caixa1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerBola{
    display: flex;
    align-items: center;
}

.bola {
    border: 2px solid #fff;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.bolaMarcada {
    background-color: #0075FF;
}
.radio{
    margin-bottom: 20px;
}

/* // -------------------------------radio button */
/* -----------------------------------checkBox */
.checkList{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.containerDaListaCheckBox li{
    display: flex;
    align-items: center;
}
.containerDaListaCheckBox li div{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    margin-right: 5px;
}
.marcado{
    background-color: #0075FF;
}
.marcarDesmarcarTodos{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -----------------------------------checkBox */



.checked {
    background-color: #fff;
}

.umElementoClicado {
    background-color: #0075FF;

}
